<% include partials/header %>
<div class="container jumbotron well form-center">
    <h1>W4OLB</h1>
    <h2>Smoky Mountain Amateur Radio Club</h2>
    <p>Serving East Tennessee from the foothills of the Great Smoky Mountains</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Net Schedule</a></p>
</div>

<div class="form-media">
<div class="container well well-lg">
    <div class="media">
        <div class="media-left media-middle">
    </div>
        <div class="media-body panel panel-primary form-center">
            <h2 class="media-heading">Club Meetings</h2>
            <p class="form-center">
        The <em>Smoky Mountain Amateur Radio Club</em> meets the fourth Monday of every month in the basement
        of the United Steel Workers of America Hall. There is no meeting in the month of June due to <a href="#">Field Day</a>
        and no meeting in December as we host the annual <a href="#">Christmas Party</a>.
            </p>
        </div>
        <div class="container picture-center">
            <img class="img-circle" src="images/SmarcMeeting.jpg">
            <img class="img-circle" src="images/IMG_3965.jpg">
            <img class="img-circle" src="images/IMG_3948.jpg">
        </div>
    </div>
</div>
</div>

<div class="container well well-lg">
    <div class="media">
        <div class="media-left media-middle">
    </div>
        <div class="media-body panel panel-primary form-center">
            <h2 class="media-heading">Weekly Net</h2>
            <p class="form-center">
            The <em>Smoky Mountain Amateur Radio Net</em> begins each Thursday at 7:00 pm on 146.655. The backup frequency 
            is 146.625 - tone 118.8. All amateurs are welcome! We ask that you provide your Callsign, Name, Location and Affiliations.
            </p>
        </div>
        <div class="container picture-center">
            <img class="img-circle" src="images/SmarcMeeting.jpg">
            <img class="img-circle" src="images/IMG_3965.jpg">
            <img class="img-circle" src="images/IMG_3948.jpg">
        </div>
    </div>
</div>

<% include partials/footer %>