<% include ./partials/header %>

<div class="row">
    <div class="col-md-12">
        <div class="jumbotron form-center">
            <h1>Net Schedule</h1>
            <p>East Tennessee Nets</p>
        </div>
        <table class="table table-hover table-bordered">
        <thead>	
            <tr>
                <th>Net</th>
                <th>Weekday</th>
                <th>Time</th>
                <th>Frequency (MHz)</th>
                <th>Alt. Frequency (MHz)</th>
                <th>Tone (Hz)</th>
            </tr>
        </thead>
        <tbody>
            <tr class="info">
                <td>940 Breakfast Club</td>
                <td>Sunday</td>
                <td>6:00 to 9:00A.M. </td>
                <td>146.940</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>East TN APRS Net</td>
                <td>Sunday</td>
                <td>8:00 P.M.</td>
                <td>146.940</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr class="info">
                <td>Union County ARES</td>
                <td>Sunday</td>
                <td>8:45 P.M.</td>
                <td>145.230</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>RACK 6 Meter Net</td>
                <td>Sunday</td>
                <td>9:00 P.M.</td>
                <td>53.770</td>
                <td>53.250</td>
                <td>N/A</td>
            </tr>
            <tr class="info">
                <td>METERS 10 Meter Net</td>
                <td>Sunday</td>
                <td>10:00 P.M.</td>
                <td>28.420 USB, Alt</td>
                <td>146.940</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>940 Breakfast Club</td>
                <td>Monday</td>
                <td>6:00 to 9:00A.M. </td>
                <td>146.940</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr class="info">
                <td>TN State ARES</td>
                <td>Monday</td>
                <td>7:30 P.M.</td>
                <td>3.980 LSB</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            
                <td>SCERS and Sevier County Ares</td>
                <td>Monday</td>
                <td>7:30 P.M.</td>
                <td>145.47</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr class="info">
                <td>Roane County ARC</td>
                <td>Monday</td>
                <td>9:00 P.M.</td>
                <td>147.015</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>940 Breakfast Club</td>
                <td>Tuesday</td>
                <td>6:00 to 9:00A.M. </td>
                <td>146.940</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr class="info">
                <td>Sevier County Skywarn</td>
                <td>Tuesday</td>
                <td>8:30 P.M.</td>
                <td>443.225</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>940 Breakfast Club</td>
                <td>Wednesday</td>
                <td>6:00 to 9:00A.M. </td>
                <td>146.940</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr class="info">
                <td>METERS Traffic</td>
                <td>Wednesday</td>
                <td>8:15 P.M.</td>
                <td>147.300</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>940 Breakfast Club</td>
                <td>Wednesday</td>
                <td>6:00 to 9:00A.M. </td>
                <td>146.940</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr class="info">
                <td>470 ARG</td>
                <td>Thursday</td>
                <td>7:30 P.M.</td>
                <td>145.470</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>S.M.A.R.C.</td>
                <td>Thursday</td>
                <td>7:00 P.M.</td>
                <td>146.655</td>
                <td>146.625</td>
                <td>100</td>
            </tr>
            <tr class="info">
                <td>Blount County ARES</td>
                <td>Thursday</td>
                <td>9:00 P.M.</td>
                <td>146.940</td>
                <td>146.625</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>940 Breakfast Club</td>
                <td>Friday</td>
                <td>6:00 to 9:00A.M. </td>
                <td>146.940</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
            <tr class="info">
                <td>940 Breakfast Club</td>
                <td>Saturday</td>
                <td>6:00 to 9:00A.M. </td>
                <td>146.940</td>
                <td>N/A</td>
                <td>N/A</td>
            </tr>
        </tbody>
    </table>
    </div>
    <div class="col-lg-1"></div>
</div>
</div>	
    </div>
</div>

<% include ./partials/footer %>